@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --fs: 18px;

    --white: hsl(0, 0%, 100%);
    --lv: hsl(270, 3%, 87%);
    --dv: hsl(279, 6%, 55%);
    --vdv: hsl(278, 68%, 11%);
    --err-col: hsl(360, 90%, 47%);
    --linGrad: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    --border_rad: 10px;

    --img-width: 270px;
    --scaling-factor: calc( 270 / 447); /* this is a UNITLESS definition --> needs to be changed as well when --img-width changed */
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--fs);
    margin: 0;
}

main {
    width: 100%;
    margin: 0;
    position: relative;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1rem;
}

#purple-container {
    content: url(./images/bg-main-mobile.png);
    width: 100%;
    height: 240px;
}

#white-container {
    padding: 20px;
    position: relative;
    top: -210px;
}

#credit-card-holder {
    position: relative;
    width: 100%;
    height: calc( (var(--img-width) / 447) * 245 * 1.5 + 20px);
    max-width: calc(1.5 * var(--img-width));
    margin: auto;
}

#credit-card-holder img {
    max-width: var(--img-width);
}

#credit-card-holder img:first-child {
    position: relative;
    left: calc(100% - var(--img-width));
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

#credit-card-holder img:nth-child(2) {
    position: relative;
    top: calc(-1 *  (var(--img-width) / 447 )* 245 / 2);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

#cvc-overlay  {
    position: absolute;
    top: 0;
    left: calc(100% - 0.2 * var(--img-width));
    top:  calc(0.67 *  var(--scaling-factor) * 245px / 2);
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#img-overlay {
    position: absolute;
    width: var(--img-width);
    height: calc((var(--img-width) / 447 )* 245);
    top: calc((var(--img-width) / 447 )* 245 / 2);
    z-index: 2;
}

#img-overlay > p {
    color: white;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 1px;
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

#img-overlay img {
    transform: scale(var(--scaling-factor));
    margin: 10px 0;
}

#cardname-holder {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#cardname-holder p {
    margin: 0;
    font-size: 0.7rem;
    color: white;
    margin: 1.5rem 1rem 0 1rem;
}

form , #success-form{
    width: 100%;
    max-width: 340px;
    margin: 50px auto;
}

form input:not(input[type=submit]) {
    height: 50px;
    border: 1px solid var(--lv);
    border-radius: var(--border_rad);
    padding: 0 15px;
    margin: 5px 0 10px 0;
    font-size: var(--fs);
    font-family: 'Space Grotesk';
    box-sizing: border-box;
    width: 100%;
    z-index: 3;
}

form input::placeholder {
    color: var(--lv);
}

form input:focus {
    outline: none;
    border: 2px solid var(--vdv) !important;
}

form label {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--vdv);
    letter-spacing: 1px;
}

.error-message {
    font-size: 12px;
    color: var(--err-col)
}

.invisible {
    display: none;
}

#expdate-cvc-container {
    display: flex;
    width: 100%;
}
#expdate-container {
    width: 50%;
    min-width: 150px;
}

#expdate-container div {
    display: flex;
}

#cvc-container {
    width: 50%;
    margin-left: 10px;
}

#cvc-container #cvc {
    box-sizing: border-box;
}

#expdate-container #expdate-mm, #expdate-yy {
    width: 70px;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.cc-button{
    width: 100%;
    height: 50px;
    background-color: var(--vdv);
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: var(--border_rad);
    font-family: 'Space Grotesk';
    font-size: 1rem;
    text-align: center;
}


#success-form {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#success-form img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

#thank-you  {
    color: var(--vdv);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}


@media only screen and (min-width: 1300px) {

    :root { 
        --img-width: 447px;
    }

    main {
      display: flex;
    }

    #purple-container {
        width: 30vw;
        height: 100vh;
    }

    #white-container {
        position: relative;
        display: flex;
        margin: auto;
        top: 0;
        width: 70vw;
    }

    #credit-card-holder {
        left: calc(-0.8 * var(--img-width));
        margin: auto 0;
        height: 550px;
    }

    #credit-card-holder img:nth-child(1)  {
        position: absolute;
        top: 300px;
        left: calc(0.5 * var(--img-width));
    }

    #credit-card-holder img:nth-child(2)  {
        position: absolute;
        top: 0;
        left: 0;
    }

    form , #success-form{
        position: absolute;
        left: calc(var(--img-width));
        top: 0;
        bottom: 0;
        margin: auto;
        width: 400px;
        padding: 100px 0;
        max-width: unset;
    }

    #cvc-overlay  {
        position: absolute;
        top: 390px;
        left: 585px;
        color: white;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }

    #img-overlay {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        height: 245px;
    }

    #img-overlay > img {
        position: absolute;
        margin-top: -280px;
        margin-left: calc(-0.5 * var(--img-width) + 20px);
        transform: unset;
    }

    #img-overlay > p {
        position: absolute;
        top: 150px;
        font-size: 1.6rem;
        letter-spacing: 5px;
    }

    #cardname-holder {
        position: absolute;
        top: 180px;
        width: 100%;
    }

    #cardname-holder p {
        font-size: 1.2rem;
    }
 
  }